@use 'variables' as v;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: v.$Font;
}
body{
    background-color: v.$Off-white;
}
.container{
    margin: 0 auto;
    padding: 1rem;
}